<!--template for testing-->
<!--Head of html-->
<!DOCTYPE html>
<html>
<body>

<!-- template  for surname-only
<ul>
    {% for x in mymembers %}
    <li>{{ x.firstname }}</li>    
    {% endfor %}
</ul>
<p>In views.py you can see how to import and fetch members from the database.</p> 

</body>
</html> --> 

<!-- template for if statament below-->


<!-- template for numerical condition (greeting ==1) 

{%if greeting ==1%}
<h1>Hello</h1>
{%else%}
{%endif%}

<p> In view.py you can see what the greeting variable looks like.</p> -->


<p> In view.py you can see what the greeting variable looks like.</p>
</body>
</html>
